<div class="container">
    <div class="filter" style="display: {showClassFilter ? 'block' : 'none'};">
      <Panel>
        <h2 slot="head">Class Filter</h2>
        <div slot="body">
          <AppClassFilter
            bind:classHeatmap
          />
        </div>
      </Panel>
    </div>
    <div class="stack" style="display: {showLayerChooser ? 'block' : 'none'};">
      <Panel>
        <h2 slot="head">Layer</h2>
        <div slot="body">
          <AppLayerChooser
            bind:layerName
            {classHeatmap}
          />
        </div>
      </Panel>
    </div>
  <div class="main">
    <div class="atlas">
        <Atlas
          ref:atlas
          id="inceptionv1_{layerName}"
          strokeColor="#666"
          backgroundColor="#dfdfdf"
          showHoverImage={false}
          bind:density
          {classHeatmap}
          bind:iconCrop 
          bind:classHeatmapMultiplier
          bind:classHeatmapPositive
          bind:gridSize
          bind:showLabels
          bind:scale
          bind:gcx
          bind:gcy
          {homeX}
          {homeY}
          {homeScale}
        />
        <div ref:controls>
          <div class="map" style="display: {scale > 1.0 ? 'block' : 'none'};">
            <AppMiniMap 
              id="inceptionv1_{layerName}"
              {layerName}
              bind:aspectRatio
              bind:scale
              bind:gcx
              bind:gcy
              enableDragging={true}
              {classHeatmap}
              {scaleCountFactor}
            />
          </div>
          <div class="buttons">
            <Button on:click="refs.atlas.home()"><Navigation name="home" color="white"/></Button>
            <Button on:click="refs.atlas.zoomit(2)"><Navigation name="add" color="white"/></Button>
            <Button on:click="refs.atlas.zoomit(0.5)"><Navigation name="remove" color="white"/></Button>
          </div>
          <!-- <label><input type=checkbox bind:checked=showLabels> show labels</label> -->
        </div>
    </div>
  </div>
  <div class="options" style="display: {showOptions ? 'block' : 'none'};">
    <Panel>
      <h2 slot="head">Options</h2>
      <div slot="body" class="options-body">

        <div>
          <div>x: {@html format(gcx)}</div>
          <div>y: {@html format(gcy)}</div>
          <div>scale: {@html format(scale)}</div>
        </div>
        <div>
        <h3>Attribution</h3>
          <label><input type=checkbox bind:checked=showLabels> show labels</label>
        </div>
        <div class="grid-size">
          <h3>Grid size</h3>
          <label><input type=radio bind:group=gridSize value={0}> 20x20</label>
          <label><input type=radio bind:group=gridSize value={1}> 40x40</label>
          <label><input type=radio bind:group=gridSize value={2}> 80x80</label>
          <label><input type=radio bind:group=gridSize value={3}> 160x160</label>
          <label><input type=radio bind:group=gridSize value={4}> 320x320</label>
        </div>
        <div>
          <h3>Icons</h3>
          <div>density: {@html density}</div>
          <input type="range" min={0.2} max={8} step={0.01} bind:value=density>
          <br>
          <div>crop: {@html iconCrop}</div>
          <input type="range" min={0} max={0.5} step={0.01} bind:value=iconCrop>
        </div>
        <div style="display: {classHeatmap > -1 ? 'block' : 'none'}">
          <h3>Class filter</h3>
          <div>Intensity: {@html classHeatmapMultiplier}</div>
          <input type="range" min=0.5 max=2 step=0.1 bind:value=classHeatmapMultiplier>
          <label><input type=radio bind:group=classHeatmapPositive value={1}> positive influence</label>
          <label><input type=radio bind:group=classHeatmapPositive value={-1}> negative influence</label>
        </div>
      </div>
    </Panel>
  </div>
</div>


<script>
import {format as f} from "d3-format";

export default {
  components: { 
    Button: "../library/Button.html",
    Navigation: "../library/icons/Navigation.html",
    AppMiniMap: "./AppMiniMap.html",
    AppLayerChooser: "./AppLayerChooser.html",
    AppClassFilter: "./AppClassFilter.html",
    Atlas: "../Atlas.html",
    Panel: "../library/App/Panel.html"
  },
  data() {
    return {
      layerName: "mixed4c",
      gridSize: 1,
      classHeatmap: -1,
      iconScaleFactor: 0.8,
      iconCrop: 0.35,
      showClassFilter: true,
      showLayerChooser: true,
      showOptions: true,
      homeX: .5,
      homeY: .5,
      homeScale: 1,
    }
  },
  computed: {
    realGridSize: ({gridSize}) => (gridSize + 1) * 20,
    scaleCountFactor: ({iconScaleFactor, realGridSize}) =>  1000000 / (realGridSize * realGridSize * iconScaleFactor)
  },
  helpers: {
    format: f(".3f")
  }
}
</script>

<style>
  .container {
    height: 100%;
    box-sizing: border-box;
    grid-column: screen;
    display: flex;
    overflow: hidden;
    contain: strict;
    font-size: 12px;
    position: relative;
  }

  /*  */
  .filter {
    width: 170px;
    border-right: solid 1px rgba(0, 0, 0, 0.2);
  }
  .stack {
    overflow-y: scroll;
    width: 170px;
    border-right: solid 1px rgba(0, 0, 0, 0.2);
    height: 100%;
  }
  .main {
    flex-grow: 1;
    padding: 8px;
    box-sizing: border-box;
    height: 100%;
  }
  .options {
    width: 170px;
    border-left: solid 1px rgba(0, 0, 0, 0.2);
    line-height: 1.5em;
  }
  .options-body {
    padding: 16px;
  }
  /*  */
  ref:controls {
    position: absolute;
    right: 16px;
    top: 16px;
    display: flex;
    padding: 8px;
    background-color: white;
    border-radius: 6px;
    border: solid 1px rgba(0, 0, 0, 0.2);
  }
  ref:controls .map {
    width: 104px;
    margin-right: 8px;
  }
  ref:controls .buttons {
    width: 32px;
    display: grid;
    grid-gap: 4px;

  }
  .options label {
    display: block;
  }
  .atlas {
    height: calc(100%);
    position: relative;
  }
</style>