<div class="container">
  <div class="filter">
    <h4>Class Filter</h4>
    <AppClassFilter
      bind:classHeatmap
    />
  </div>
  <div class="stack">
    <h4>Layer</h4>
    <AppLayerChooser
      bind:layerName
      {classHeatmap}
    />
  </div>
  <div class="main">
    <div class="controls">
      <AppControls 
        bind:gridSize 
        bind:showLabels
        bind:iconScaleFactor
        on:home="refs.atlas.home()"
        on:zoomin="refs.atlas.zoomit(1.5)"
        on:zoomout="refs.atlas.zoomit(0.75)"
      />
    </div>
    <div class="atlas">
      <div style="position: relative;">
        <Atlas
          ref:atlas
          id="inceptionv1_{layerName}"
          strokeColor="#666"
          backgroundColor="#ddd"
          showHoverImage={false}
          {scaleCountFactor}
          {classHeatmap}
          bind:iconCrop 
          bind:classHeatmapMultiplier
          bind:gridSize
          bind:showLabels
          bind:aspectRatio
          bind:scale
          bind:gcx
          bind:gcy
        />
      </div>
    </div>
  </div>
  <div class="minimap">
    <h4>Navigation</h4>
    <AppMiniMap 
      id="inceptionv1_{layerName}"
      bind:aspectRatio
      bind:scale
      bind:gcx
      bind:gcy
      enableDragging={true}
      {classHeatmap}
    />
    <label>icon density: {iconScaleFactor}</label>
    <input type="range" min={0.2} max={10} step={0.1} bind:value=iconScaleFactor>
    <br>
    <label>icon crop: {iconCrop}</label>
    <input type="range" min={0} max={0.5} step={0.01} bind:value=iconCrop>
    <br>
    <label>class filter intensity: {classHeatmapMultiplier}</label>
    <input type="range" min=0.5 max=2 step=0.1 bind:value=classHeatmapMultiplier>
    <div>gcx: {gcx}</div>
    <div>gcy: {gcy}</div>
    <div>scale: {scale}</div>
    <slot></slot>
  </div>
</div>


<script>
export default {
  components: { 
    AppControls: "./AppControls.html",
    AppMiniMap: "./AppMiniMap.html",
    AppLayerChooser: "./AppLayerChooser.html",
    AppClassFilter: "./AppClassFilter.html",
    Atlas: "../Atlas.html",
  },
  data() {
    return {
      layerName: "mixed4d",
      iconScaleFactor: 2,
      gridSize: 1,
      classHeatmap: -1,
      iconCrop: 0.2
    }
  },
  computed: {
    realGridSize: ({gridSize}) => (gridSize + 1) * 20,
    scaleCountFactor: ({iconScaleFactor, realGridSize}) =>  1000000 / (realGridSize * realGridSize * iconScaleFactor)
  },
  methods: {
   
  }
}
</script>

<style>
  ref:controls {
    font-size: 10px;
  }
  .container {
    height: 100%;
    box-sizing: border-box;
    grid-column: screen;
    display: flex;
    overflow: hidden;
    contain: strict;
    font-size: 12px;
  }
  h4 {
    padding-left: 20px;
    font-size: 13px;
    margin: 0;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
  }
  /*  */
  .filter {
    overflow-y: scroll;
    width: 170px;
    border-right: solid 1px rgba(0, 0, 0, 0.2);
  }
  .stack {
    overflow-y: scroll;
    width: 170px;
    border-right: solid 1px rgba(0, 0, 0, 0.2);
  }
  .main {
    flex-grow: 1;
    padding: 0 20px 20px 20px;
  }
  .minimap {
    width: 170px;
    padding-left: 20px;
    border-left: solid 1px rgba(0, 0, 0, 0.2);
  }
  /*  */
  .controls {
    height: 50px;
  }
  .atlas {
    height: calc(100% - 70px);
  }

</style>