<div ref:root>
  <div>
    <button on:click="fire('home')">Home</button> 
    <button on:click="fire('zoomin')">Zoom In</button> 
    <button on:click="fire('zoomout')">Zoom Out</button> 
  </div>
  <div>
    <label>grid size: </label>
    <label><input type=radio bind:group=gridSize value={0}> 20</label>
    <label><input type=radio bind:group=gridSize value={1}> 40</label>
    <label><input type=radio bind:group=gridSize value={2}> 80</label>
    <label><input type=radio bind:group=gridSize value={3}> 160</label>
    <label><input type=radio bind:group=gridSize value={4}> 320</label>
  </div>
  <div>
    <label><input type=checkbox bind:checked=showLabels> labels</label>
  </div>
</div>

<script>
export default {
  data() {
    return {
      gridSize: 0,
      showLabels: false,
      iconScaleFactor: 1
    }
  }
}
</script>

<style>
  ref:root {
    height: 50px;
    font-size: 12px;
    display: grid;
    grid-gap: 10px;
    align-items: center;
    grid-template-columns: repeat(3, auto);
  }
</style>