<div ref:root>
  <div>
    <Button on:click="fire('home')">Home</Button> 
    <Button on:click="fire('zoomin')">Zoom In</Button> 
    <Button on:click="fire('zoomout')">Zoom Out</Button> 
  </div>
</div>

<script>
export default {
  components: {
    Button: "../library/Button.html"
  },
  data() {
    return {
      gridSize: 0,
      showLabels: false,
      iconScaleFactor: 1
    }
  }
}
</script>

<style>
  ref:root {
    height: 50px;
    font-size: 12px;
    display: grid;
    grid-gap: 10px;
    align-items: center;
    grid-template-columns: repeat(3, auto);
  }
</style>