<div ref:root>
  <Placeholder>
    <Atlas 
      ref:overview
      {id}
      {classHeatmap}
      gridSize={1} 
      iconCrop={0.6} 
      {scaleCountFactor}
      backgroundColor="#f0f0f0"
    />
    <!-- <AtlasThumbnail 
      {layerName}
    /> -->
    <AtlasReticle
      bind:aspectRatio
      bind:scale
      bind:gcx
      bind:gcy
      enableDragging={true}
    />
  </Placeholder>
</div>

<script>
  export default {
    components: {
      Atlas: "../Atlas.html",
      AtlasReticle: "../AtlasReticle.html",
      Placeholder: "../library/Placeholder.html"
    },
    data() {
      return {
        scaleCountFactor: 200
      }
    }
  }
</script>

<style>
ref:root {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
</style>